<% include partials/_header %>

<div class="col-md-7 mx-auto">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="mx-auto text-center"colspan="2">Usuario</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>ID</th>
            <td><%= user._id%></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= user.email%></td>
          </tr>          
          <tr>
            <th>Password</th>
            <td><%= user.password%></td>
          </tr>
          <tr>
            <th>Rol</th>
            <td><%= user.rol%></td>
          </tr>
      </tbody>
    </table>
    <br><br>
    <form method="post" enctype="multipart/form-data" action="/addUserCSV">
      <center>
           <p>
                 <input type="file" name="file" accept="text/CSV" /> 
                <button type="submit">Añadir mediante CSV</button></p>
      </center>
    </form><br><br>

    <h2>Cambiar contraseña</h2>

    <% if (user.rol == "Alumno") { %>
    <form action="/verAlumnos/editPassword/<%= user._id %>" method="post">
    <% } %>

    <% if (user.rol == "Profesor") { %>
    <form action="/verProfesores/editPassword/<%= user._id %>" method="post">
    <% } %>
    
    <% if (user.rol == "Administrador") { %>
    <form action="/verProfesores/editPasswordAdmin/<%= user._id %>" method="post">
    <% } %>

      <div class="form-group">
        <input class="form-control"  type="hidden" name="email" value="<%= user.email%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="password" placeholder="Password">
      </div>
      
      <div class="form-group">
        <input class="form-control" type="hidden" name="role" id="role" value="<%= user.rol%>">
     </div>
    <button class="btn btn-primary" type="submit">
      Cambiar contraseña
    </button>
  </form>
  </div>
</div>
<% include partials/_footer %>
